

html{
  font-family: system-ui;
}

body{
  height: 100vh;
}

.container{
  margin: auto;
}
.wraper {
  border: 3px dashed lightblue;
  width: 500px;
  height: 500px;
  margin: 50px auto;
}

.box {
  
  color: #000;
  height: 100px;
  width: 100px;
  background-color: #09f;
}

.box:first-child {
  background-color: yellow;
}
.box:last-child {
  background-color: red;
}
